* {
  margin: 0;
  background-color: grey;
  text-align: center;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  align-items: center;
}

#change-colors-button {
  margin: auto;
}

h1 {
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 50px;
  color: white;
  padding: 20px;
  background-color: #4CAF50;
}

h2 {
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 30px;
  color: white;
  padding: 20px;
}

footer {
  color: white;
  padding: 25px;
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 10px;
  display: fixed;
}

.color-palette {
  width: 1px;
  height: 1px;
  border-radius: 100%;
  display: inline-block;
  text-align: center;
  border: solid 1px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 20px;
  padding: 20px;
  margin: 0 5px;
}