* {
  margin: 0;
  background-color: grey;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4CAF50;
}

.header-link {
  background-color:#4CAF50;
}

h1 {
  background-color: #4CAF50;
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 50px;
  color: white;
  padding: 20px;
}

#back_icon {
  background-color: #4CAF50;
  height: 2em;
  width: 2em;
  margin-left: 40px;
}

#gitHub_icon {
  background-color: #4CAF50;
  width: 2em;
  height: 2em;
  margin-right: 40px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  align-items: center;
}

#change-colors-button {
  margin: auto;
  display: inline-block;
  align-items: center;
  align-content: center;
}


h2 {
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 30px;
  color: white;
  padding: 20px;
  display: block;
}

footer {
  color: white;
  padding: 25px;
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 10px;
  display: fixed;
}

.color-palette {
  width: 1px;
  height: 1px;
  border-radius: 100%;
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 20px;
  padding: 20px;
  margin: 0 5px;
  flex-direction: row;
  display: inline-block;
  align-items: center;
  align-content: center;
}

.color-palette-list {
  display: flex;
  align-items: center;
  align-content: center;
}

.board-frame {
  display: inline;
  border: solid 1px black;
  padding: 3px 10px 3px 10px;
  background-color: white;
}

.active-color {
  border: 3px solid white;
}
